.overlay{
    background-color:rgba(242, 243, 245, 0.8);
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;

    display:flex;
    align-items:center;
    justify-content:center;
}

.container{
    width:100%;
    max-width:400px;

    padding:2rem 3rem;
    border-radius:5px;

    text-align:center;
    position:relative;

    background-color:var(--white);
    box-shadow: 0 0 60 rgba(0, 0, 0, 0.05);
}

.container header{
    color:var(--blue);
    background:url('/icons/levelup.svg') no-repeat center;
    background-size:contain;
    
    font-size:8.75rem;
    font-weight:600;
}

.container strong{
    color:var(--title);
    font-size:2.25rem;
}

.container p{
    color:var(--text);
    font-size:1.25rem;

    margin-top:0.25rem;
}

.container button{
    position:absolute;
    right:0.5rem;
    top:0.5rem;

    font-size:0;

    background:transparent;
    border:none;
}